// background color
.bg--transparent {
  background-color: transparent;
}

@each $key, $value in $theme-colors {
  @if (($key == 'white') or ($key == 'light') or ($key == 'warning')) {
    .bg--#{$key} {
      background-color: $value;
      color: $black;
    }
  } @else {
    .bg--#{$key} {
      background-color: $value;
      color: $white;
    }
  }
}
