// height
@each $key, $value in $grid-breakpoints {
  @each $sizingKey, $sizingVal in $sizing {
    @if $value == 0 {
      .h--#{$sizingKey} {
        height: $sizingVal;
      }
      .w--#{$sizingKey} {
        width: $sizingVal;
      }
    } @else {
      @media (min-width: $value) {
        .h--#{$key}--#{$sizingKey} {
          height: $sizingVal;
        }
        .w--#{$key}--#{$sizingKey} {
          width: $sizingVal;
        }
      }
    }
  }
}

.vw--100 { 
  width: 100vw;
}

.vh--100 { 
  height: 100vh;
}

.min-vw--100 { 
  min-width: 100vw;
}

.min-vh--100 { 
  min-height: 100vh;
}
