<section class="py--14 bg--third">
  <div class="container">
    <div class="row">
      <div class="col--12 col--md--9 col--lg--6">
        <h2 class="mb--3 h5 h2--md font--bold text--primary">有任何我們能幫助您的嗎？</h2>
        <p class="mb--7 h7 h6--md font--medium text--primary">
          輸入電子信箱
          <br>
          將有專業人員在線幫您解決所有問題
        </p>
        <div class="input-group">
          <input type="text" class="form-control form-control--lg" placeholder="example@gmail.com">
          <div class="input-group__append">
            <a href="#" class="btn btn--secondary">送出</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="container pt--3 pb--10 pt--md--19 pb--md--11">
  <div class="d--none d--md--flex justify-content--between mb--24">
    <ul>
      <li class="mb--10">
        <a href="#">
          <img src="assets/images/logo.svg" width="121" height="54">
        </a>
      </li>
      <li class="mb--10">
        <a href="#">關於我們</a>
      </li>
      <li class="mb--10">
        <a href="#">幫助中心</a>
      </li>
      <li class="mb--10">
        <a href="#">使用條款</a>
      </li>
      <li>
        <a href="#">隱私政策</a>
      </li>
    </ul>
    <ul>
      <li class="mb--15">
        <h3 class="pt--7 h6 text--primary font--bold">寵物服務</h3>
      </li>
      <li class="mb--10">
        <a href="service.html">寵物寄宿</a>
      </li>
      <li class="mb--10">
        <a href="#">寵物到府保姆</a>
      </li>
      <li class="mb--10">
        <a href="#">寵物美容洗澡</a>
      </li>
      <li>
        <a href="#">寵物行為訓練</a>
      </li>
    </ul>
    <ul>
      <li class="mb--15">
        <h3 class="pt--7 h6 text--primary font--bold">加入我們</h3>
      </li>
      <li class="mb--10">
        <a href="#">成為寵物保姆</a>
      </li>
      <li class="mb--10">
        <a href="#">加入寵物計程車</a>
      </li>
      <li class="mb--10">
        <a href="#">專屬 APP 下載</a>
      </li>
      <li>
        <a href="#">相關合約條款</a>
      </li>
    </ul>
    <ul>
      <li class="mb--15">
        <h3 class="pt--7 h6 text--primary font--bold">聯繫我們</h3>
      </li>
      <li class="mb--10">
        <a href="mailto:petpet@petmail.com">petpet@petmail.com</a>
      </li>
    </ul>
  </div>
  <ul class="d--flex flex--column flex--md--row justify-content--between align-items--md--center">
    <li class="d--md--none">
      <a href="index.html">
        <img src="assets/images/logo.svg" width="121" height="54">
      </a>
    </li>
    <li class="d--none d--md--block">
      <a href="tel:+071234567" class="h6">
        <span class="material-icons align--middle mr--3">local_phone</span>
        <span class="align--middle">07-123-4567</span>
      </a>
    </li>
    <li class="h8 text--primary">Copyright © 2020 PetPet. All rights reserved.</li>
  </ul>
</footer>