<div class="modal-wrap">
  <div class="container">
    <div class="modal">

      <!-- step1 -->
      <div class="row step step1">
        <div class="col--12 col--lg--8 order--2 order--lg--1">
          <h2 class="d--none d--lg--block mb--5 h5 text--primary font--bold">預約項目</h2>
          <ul class="service d--flex mb--10">
            <li class="service__item service__item--active mr--md--5">
              <a href="#" class="service__link">
                <span class="material-icons h6 h1--md">house</span>
                <p class="h8 h6--md">寄宿</p>
              </a>
            </li>
            <li class="service__item mr--md--5">
              <a href="#" class="service__link">
                <span class="material-icons h6 h1--md">wash</span>
                <p class="h8 h6--md">美容</p>
              </a>
            </li>
            <li class="service__item mr--md--5">
              <a href="#" class="service__link">
                <span class="material-icons h6 h1--md">roofing</span>
                <p class="h8 h6--md">到府保姆</p>
              </a>
            </li>
            <li class="service__item">
              <a href="#" class="service__link">
                <span class="material-icons h6 h1--md">directions_walk</span>
                <p class="h8 h6--md">遛狗保姆</p>
              </a>
            </li>
          </ul>
          <div class="mb--9">
            <label for="" class="d--block mb--1">選擇日期</label>
            <input type="date" name="start" class="form-control w--80 w--md--auto">
            <span class="mx--md--1">至</span>
            <input type="date" name="end" class="form-control w--80 w--md--auto">
            <span class="ml--md--1">共一晚</span>
          </div>
          <div class="form-row mb--8 mb--md--16 mb--lg--0">
            <div class="col--4">
              <label for="num" class="d--block">毛孩數量</label>
              <select name="num" class="form-control w--100">
                <option value="1">1 隻</option>
                <option value="2">2 隻</option>
                <option value="3">3 隻</option>
              </select>
            </div>
            <div class="col--4">
              <label for="species" class="d--block">您的毛孩是</label>
              <select name="species" class="form-control w--100">
                <option value="cat">貓</option>
                <option value="dog">狗</option>
                <option value="bird">鳥</option>
              </select>
            </div>
            <div class="col--4">
              <label for="age" class="d--block">年齡</label>
              <select name="age" class="form-control w--100">
                <option value="1">1 歲</option>
                <option value="2">2 歲</option>
                <option value="3">3 歲</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col--12 col--lg--4 order--1 order--lg--2">
          <h2 class="d--lg--none mb--5 mb--md--9 h5 text--primary font--bold">預約項目</h2>
          <div class="d--flex flex--lg--column align-items--center mb--5 mb--md--12">
            <div class="modal-img mr--5 mr--md--9 mr--lg--0 mb--lg--3 rounded"></div>
            <div>
              <div class="d--flex flex--column flex--lg--row justify-content--center justify-content--lg--start mb--lg--3">
                <h3 class="h6 font--bold">毛孩好家</h3>
                <div class="text--warning">
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                </div>
              </div>
              <div class="d--flex">
                <span class="material-icons text--secondary">place</span>
                <p>高雄市苓雅區、新興區、前鎮區</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col--12 col--lg--8 order--0 order--md--3 d--flex align-items--end">
          <ul class="progress mb--5 mb--md--9 mb--lg--0">
            <li class="progress__item progress__item--active">
              <p class="pt--1">預約項目</p>
            </li>
            <li class="progress__item">
              <p class="pt--1">預約資料</p>
            </li>
            <li class="progress__item">
              <p class="pt--1">付款資訊</p>
            </li>
          </ul>
        </div>
        <div class="col--12 col--lg--4 order--4">
          <button class="btn btn--secondary btn--lg w--100 h6 font--bold js-toggleStep" data-action="go" data-num="1">下一步</button>
        </div>
      </div>

      <!-- step2 -->
      <div class="row step step2">
        <div class="col--12 col--lg--8 order--2 order--lg--1">
          <h2 class="d--none d--lg--block mb--5 h5 text--primary font--bold">預約資料</h2>
          <form action="" class="mb--5 mb--md--16 mb--lg--0">
            <div class="form-group">
              <label for="petname" class="d--block mb--1">毛孩姓名</label>
              <input type="text" name="petname" id="petname" placeholder="請輸入毛孩姓名" class="form-control">
            </div>
            <div class="form-group">
              <label for="hostname" class="d--block mb--1">飼主姓名</label>
              <input type="text" name="hostname" id="hostname" placeholder="請輸入飼主姓名" class="form-control">
            </div>
            <div class="form-group">
              <label for="email" class="d--block mb--1">Email</label>
              <input type="email" name="email" id="email" placeholder="example@gmail.com" class="form-control">
            </div>
            <div class="form-group">
              <label for="name" class="d--block">聯絡電話</label>
              <input type="tel" name="tel" id="tel" placeholder="0912-345-678" class="form-control">
            </div>
          </form>
        </div>
        <div class="col--12 col--lg--4 order--1 order--lg--2">
          <h2 class="d--lg--none mb--5 mb--md--9 h5 text--primary font--bold">預約資料</h2>
          <div class="d--flex flex--lg--column align-items--center mb--5 mb--md--9">
            <div class="modal-img mr--5 mr--md--9 mr--lg--0 mb--lg--3 rounded"></div>
            <div>
              <div class="d--flex flex--column flex--lg--row justify-content--center justify-content--lg--start mb--lg--3">
                <h3 class="h6 font--bold">毛孩好家</h3>
                <div class="text--warning">
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                </div>
              </div>
              <div class="d--flex">
                <span class="material-icons text--secondary">place</span>
                <p>高雄市苓雅區、新興區、前鎮區</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col--12 col--lg--8 order--0 order--md--3 d--flex align-items--end">
          <ul class="progress mb--5 mb--md--9 mb--lg--0">
            <li class="progress__item">
              <p class="pt--1">預約項目</p>
            </li>
            <li class="progress__item progress__item--active">
              <p class="pt--1">預約資料</p>
            </li>
            <li class="progress__item">
              <p class="pt--1">付款資訊</p>
            </li>
          </ul>
        </div>
        <div class="col--12 col--lg--4 order--4">
          <a href="#" class="d--block mb--2 text--center h6 js-toggleStep" data-action="return" data-num="2">返回</a>
          <button class="btn btn--secondary btn--lg w--100 h6 font--bold js-toggleStep" data-action="go" data-num="2">下一步</button>
        </div>
      </div>

      <!-- step3 -->
      <div class="row step step3">
        <div class="col--12 col--lg--8 order--2 order--lg--1">
          <h2 class="d--none d--lg--block mb--5 h5 text--primary font--bold">付款資訊</h2>
          <form action="" class="mb--5 mb--md--16 mb--lg--0">
            <div class="form-group">
              <label for="cardnum" class="d--block mb--1">信用卡帳號</label>
              <input type="text" name="cardnum" id="cardnum" placeholder="Xxxx-xxxx-xxxx-xxxx" class="form-control">
            </div>
            <div class="form-group">
              <label for="date" class="d--block mb--1">有效日期</label>
              <input type="date" name="date" id="date" placeholder="(MM/YY)" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="d--block mb--1">安全碼</label>
              <input type="password" name="password" id="password" placeholder="***" class="form-control">
            </div>
          </form>
        </div>
        <div class="col--12 col--lg--4 order--1 order--lg--2">
          <h2 class="d--lg--none mb--5 mb--md--9 h5 text--primary font--bold">付款資訊</h2>
          <div class="d--flex flex--lg--column align-items--center mb--5 mb--md--9">
            <div class="modal-img mr--5 mr--md--9 mr--lg--0 mb--lg--3 rounded"></div>
            <div>
              <div class="d--flex flex--column flex--lg--row justify-content--center justify-content--lg--start mb--lg--3">
                <h3 class="h6 font--bold">毛孩好家</h3>
                <div class="text--warning">
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                  <span class="material-icons align--middle h6">star</span>
                </div>
              </div>
              <div class="d--flex">
                <span class="material-icons text--secondary">place</span>
                <p>高雄市苓雅區、新興區、前鎮區</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col--12 col--lg--8 order--0 order--md--3 d--flex align-items--end">
          <ul class="progress mb--5 mb--md--9 mb--lg--0">
            <li class="progress__item">
              <p class="pt--1">預約項目</p>
            </li>
            <li class="progress__item">
              <p class="pt--1">預約資料</p>
            </li>
            <li class="progress__item progress__item--active">
              <p class="pt--1">付款資訊</p>
            </li>
          </ul>
        </div>
        <div class="col--12 col--lg--4 order--4">
          <a href="#" class="d--block mb--2 text--center h6 js-toggleStep" data-action="return" data-num="3">返回</a>
          <button class="btn btn--secondary btn--lg w--100 h6 font--bold js-toggleStep" data-action="go" data-num="3">下一步</button>
        </div>
      </div>

      <!-- step4 -->
      <div class="step step4 justify-content--center">
        <div class="text--center text--primary">
          <span class="material-icons mb--5 display--1 text--warning">pets</span>
          <h2 class="mb--5 h5 font--bold">預約成功!</h2>
          <p class="mb--16">您可以在會員頁找到您的預約資料並修改或取消預約。</p>
          <a href="auth.html" class="btn btn--secondary btn--lg">前往會員頁</a>
        </div>
      </div>
    </div>
  </div>
</div>