.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($gutter-width / 6);
  margin-right: -($gutter-width / 6);
  > [class*="col-"] {
    padding-left: $gutter-width / 6;
    padding-right: $gutter-width / 6;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-label, .col--form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: $dark;
}

.form-control {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: $font-family;
  border: 1px solid $gray-300;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  font-size: 1rem;
  &::-webkit-input-placeholder{
    color: $gray-500;
  }
  &::-moz-placeholder{
    color: $gray-500;
  }
  &::-ms-input-placeholder {
    color: $gray-500;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
    border-color: rgba($primary, 0.7);
    outline: none;
  }
  // 禁用狀態
  &.disabled {
    background-color: #e9ecef;
    border-color: #adb5bd;
    pointer-events: none;
  }
  &.disabled:focus {
    box-shadow: none;
    border-color: #adb5bd;
    cursor: not-allowed;
  }
}

// form-check

.form-check__label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1.5rem;
  color: $dark;
  font-size: 0.875rem;
  cursor: pointer;
  @include desktop-s {
    padding-left: 1.875rem;
    font-size: 1rem;
  }
  &:before, &:after {
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    transition: all 0.15s ease-in-out;
    text-align: center;
    cursor: pointer;
  }
  &:before {
    content: '';
    border: 1px solid $black;
    border-radius: 3px;
  }
  &:after {
    content: '\2714';
    color: transparent;
    font-size: 0.5rem;
    font-weight: bold;
  }
}

.form-check__input {
  display: none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  &:checked + label:before {
    background-color: $primary;
    border: 1px solid $primary;
  }
  &:checked + label:after {
    color: $white;
  }
  &:focus + label:before {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
    border-color: $primary;
  }

  // 禁用狀態
  &.disabled {
    pointer-events: none;
  }
  &.disabled + label {
    color: #e9ecef;
  }
  &.disabled + label:before  {
    background-color:  #6c757d;
    border-color:  #adb5bd;
    pointer-events: none;
  }
  &.disabled + label:after  {
    color: transparent;
    pointer-events: none;
  }
  &.disabled:focus + label:before {
    box-shadow: none;
    border-color:  #adb5bd;
  }
}

.form-control--lg {
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

// input-group

.input-group {
  display: flex;
  input, select {
    border-radius: 0;
    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }
  &__append {
    a, button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.select-group {
  display: flex;
  width: 100%;
  select {
    width: 100%;
    border-radius: 0;
    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }
  &__append {
    a, button {
      width: 100%;
      border-radius: 0.25rem;
      @include desktop-s {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}