.logo {
  display: block;
  width: 7.5rem;
  height: 3.5rem;
  background-image: url("../images/logo.svg");
  @include bg-full(cover);
  @include img-replace-text;
}

.banner {
  position: relative;
  @include desktop-s {
    min-height: 46rem;
  }
  &__img {
    width: 100%;
    min-height: 22rem;
    background-image: url('../images/index-1.png');
    @include bg-full(cover);
    @include mobile {
      min-height: 18rem;
      background-size: contain;
    }
    @include desktop-s {
      position: absolute;
      top: 0;
      left: 0;
      width: 42%;
      height: 100%;
      background-size: cover;
    }
  }
  .form-control {
    font-size: 1.25rem;
    border-radius: 0.25rem;
    @include desktop-s {
      border-radius: 0;
    }
  }
  .btn {
    font-size: 1.25rem;
  }
  
  &__toggler {
    width: 2.75rem;
    height: 2.75rem;
    &:hover {
      background-color: darken($secondary, 10%);
      color: $white;
    }
  }
}

.achievement {
  background-image: url('../images/index-9.jpeg');
  @include bg-full(cover);
}

.reservation-list {
  &__item {
    height: 8.25rem;
    overflow: hidden;
    &:hover {
      .reservation-list__item-cover {
        opacity: 0;
      }
    }
    @include pad {
      height: 21.875rem;
    }
  }
  &__group {
    height: 17.25rem;
    @include pad {
      height: 21.875rem;
    }
  }
  &__group-item {
    overflow: hidden;
    &:hover {
      .reservation-list__item-cover {
        opacity: 0;
      }
    }
  }
  &__img {
    background-color: rgba($black, 0.4);
    @include bg-full(cover);
  }
  &__item-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, 0.4);
    @include transition(0.3s);
  }
}