.modal-wrap {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  border-radius: 0.25rem;
  background-color: $light;
  padding: 1.5rem;
  @include desktop-s {
    padding: 3rem 1.875rem;
  }
}

.modal-img {
  width: 6.25rem;
  height: 6.25rem;
  background-image: url('../images/homestay-3.jpeg');
  @include bg-full(cover);
  @include pad {
    width: 9.375rem;
    height: 9.375rem;
  }
  @include desktop-s {
    width: 100%;
    height: 17.75rem;
  }
}

.service {
  &__item {
    flex: 1;
    border-radius: 0.25rem;
    border: 3px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
    text-align: center;
  }
  &__link {
    display: block;
    padding: 0.25rem;
    color: $muted;
    @include pad {
      padding: 0.375rem 0.25rem;
    }
    @include desktop-s {
      padding: 0.75rem 0.25rem;
    }
  }
  &__item--active {
    border-color: $danger;
    .service__link {
      color: $primary;
    }
    .material-icons {
      color: $warning;
    }
  }
}

.progress {
  display: flex;
  position: relative;
  width: 100%;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 0.125rem;
    background-color: $danger;
  }
  &__item {
    flex: 1;
    position: relative;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      top: -3px;
      width: 0.5rem;
      height: 0.5rem;
      background-color: $secondary;
      border-radius: 50%;
    }
  }
  &__item--active {
    font-weight: 500;
  }
}

.step2, .step3, .step4 {
  display: none;
}