// font-face
@font-face {
  font-family: NotoSansCJKtc;
  src: url("../fonts/NotoSansCJKtc/NotoSansCJKtc-Regular.otf") format("truetype");
}

@font-face {
  font-family: NotoSansCJKtc;
  src: url("../fonts/NotoSansCJKtc/NotoSansCJKtc-Thin.otf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: NotoSansCJKtc;
  src: url("../fonts/NotoSansCJKtc/NotoSansCJKtc-Light.otf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: NotoSansCJKtc;
  src: url("../fonts/NotoSansCJKtc/NotoSansCJKtc-Medium.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: NotoSansCJKtc;
  src: url("../fonts/NotoSansCJKtc/NotoSansCJKtc-Bold.otf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: NotoSansCJKtc;
  src: url("../fonts/NotoSansCJKtc/NotoSansCJKtc-Black.otf") format("truetype");
  font-weight: 900;
}


@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
