// breakpoint-infix

@function breakpoint-infix($breakpointsKey, $breakpointVal) {
  $infix: "";
  @if $breakpointVal != 0 {
    $infix: "--#{$breakpointsKey}"
  }
  @return $infix;
}

// color-lightness-match

@function color-lightness-match($color) {
  $lightness: lightness($color);
  $mathColor: "";
  @if $lightness < 50% {
    $mathColor: #ffffff;
  } @else {
    $mathColor: #000000;
  }
  @return $mathColor;
}