// theme-color

$primary: #772400;
$secondary: #D54100;
$third: #F0AD25;
$muted: #888888;
$muted-light: #DEDEDE;
$muted-dark: #887676;
$warning: #F0AD25;
$danger: #D5411A;
$dark: #212529;
$light: #FAFAFA;

$gray-100: #DEE2E6;
$gray-200: #DADFE3;
$gray-300: #CED4DA;
$gray-400: #818A91;
$gray-500: #6C757D;
$gray-600: #495057;
$gray-700: #373A3C;
$gray-800: rgba(0, 0, 0, 0.13);
$gray-900: rgba(0, 0, 0, 0.16);
$black: #000000;
$white: #ffffff;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'third': $third,
  'info': blue,
  'warning': $warning,
  'danger': $danger,
  'success': green,
  'muted': $muted,
  'muted-light': $muted-light,
  'muted-dark': $muted-dark,
  'dark': $dark,
  'light': $light,
  'black': $black,
  'white': $white,
);

// space

$space-base: 1rem;

$spacies: (
  0: 0,
  1: ($space-base * 0.25), // 4
  2: ($space-base * 0.375), // 6
  3: ($space-base * 0.5), // 8
  4: ($space-base * 0.625), //10
  5: ($space-base * 0.75), //12 
  6: ($space-base * 0.875), //14
  7: $space-base, //16
  8: ($space-base * 1.125), //18
  9: ($space-base * 1.25), //20
  10: ($space-base * 1.5), //24
  11: ($space-base * 1.75), //28
  12: ($space-base * 1.875), //30
  13: ($space-base * 2), //32
  14: ($space-base * 2.25), //36
  15: ($space-base * 2.375), //38
  16: ($space-base * 2.5), //40
  17: ($space-base * 3), //48
  18: ($space-base * 3.625), //58
  19: ($space-base * 3.75), //60
  20: ($space-base * 4.25), //68
  21: ($space-base * 4.5), //72
  22: ($space-base * 5), //80
  23: ($space-base * 6.25), //100
  24: ($space-base * 6.75), //108
  25: ($space-base * 7), //112
  26: ($space-base * 7.75), //124
  27: ($space-base * 8.125), //132
  28: ($space-base * 11.875), //190
);
$spacies-properties: 'm', 'p', '-m';
$spacies-sides: '', 't', 'b', 'l', 'r', 'x', 'y';

// grid

$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$breakpoints: (
  xxs: 0,
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
);

$grid-breakpoints: (
  xxs: 0,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$gutter-width: 30px;
$grid-sum: 12;

$container-max-widths: (
  xxs: 0,
  sm: 540px,
  md: 720px, //720
  lg: 960px, //960
  xl: 1140px, //1140
);

// link

$link-color: $primary;
$link-decoration: none;
$link-hover-color: $secondary;
$link-hover-decoration: none;

// sizing
$sizing: (
  20: 20%,
  50: 50%,
  80: 80%,
  100: 100%,
  auto: auto,
);

// border
$border-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
);

$border-color: $gray-200;

$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.3rem;
$border-radius-pill: 50rem;

// font

$font-family: NotoSansCJKtc, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;

// font size
$font-basic-size: 16px;
$font-size-base: 1rem;

$font-sizes: (
  1: ($font-size-base * 3), // 48
  2: ($font-size-base * 2.5), // 40
  3: ($font-size-base * 2), // 32
  4: ($font-size-base * 1.75), // 28
  5: ($font-size-base * 1.5), // 24
  6: ($font-size-base * 1.25), // 20
  7: $font-size-base, // 16
  8: ($font-size-base * 0.875), // 14
);

// font weight

$font-weight: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
);

// line-height

$line-height-base: 1.5;
$line-height-sm: 1.25rem;
$line-height-lg: 2rem;
