.btn {
  display: inline-block;  
  padding: 0.75rem 4rem;
  text-align: center;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  line-height: 1.5;
  white-space:nowrap;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled, &.disabled {
    box-shadow: none;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }
}

// btn colors
@each $key, $value in $theme-colors {
  .btn--#{$key} {
    background-color: $value;
    border: 1px solid $value;
    color: color-lightness-match($value);
    &:hover, &:active {
      background-color: darken($value, 15%);
      color: color-lightness-match($value);
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($value, 0.5);
    }
    &:disabled, &.disabled {
      &:hover, &:active {
        background-color: $value;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .btn--outline--#{$key} {
    color: $value;
    border: 1px solid $value;
    &:hover, &:focus {
      background-color: $value;
      color: color-lightness-match($value);
      img {
        filter: brightness(100);
      }
    }
  }
}

.btn--outline--gray {
  color: $gray-500;
  border: 1px solid $gray-200;
  &:hover, &:focus {
    background-color: $secondary;
    color: $white;
    img {
      filter: brightness(100);
    }
  }
}

.btn--xs {
  padding: 0.25rem;
  font-size: 1rem;
}

.btn--sm {
  padding: 0.75rem 1.75rem;
  font-size: 1.25rem;
}

.btn--lg {
  padding: 0.625rem 6.75rem;;
  font-size: 1.25rem;
}

@each $key, $value in $grid-breakpoints {
  $infix: breakpoint-infix($key, $value);
  @include media-generate($key, $value){
    .btn#{$infix}--block {
      display: block;
    }

    .btn#{$infix}--inline {
      display: inline;
    }
    
    .btn#{$infix}--inline-block {
      display: inline-block;
    }
  }
}
